<div class="form-group">
    <label 
        for="{{ field.attributes.id }}"
        class="block"
    >{{ field.label }}</label>
    <input 
        type="datetime-local"
        {{ attr(field.attributes) }}
        value="{{ field.value }}" 
        name="{{ field.attributes.name }}" 
        class="
        p-2 mb-4
        border border-solid border-gray-300 rounded-xs
        transition-all duration-200 ease-in-out
        bg-white hover:inset-shadow-gray-200 hover:inset-shadow-sm
        text-gray-800 hover:text-gray-900
        w-full max-w-48
        {% if 'class' in field|keys %}{{ field.class }}{% endif %}
    ">
</div>
